@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: black;
    text-align: center;
    color: white;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: black;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
    width: 90%;
    margin: auto;
    transform: scale(0.95);
    transition: transform 0.5s;
}

.stats-container:hover {
    transform: scale(1.05);
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    transform: scale(0.95);
    transition: transform 0.5s;
    font-size: 120%;
}

.stats-card:hover {
    transform: scale(1.05);
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: auto;
    width: 95%;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    transform: scale(1);
    transition: transform 1s;
    position: relative;
    z-index: 1;
    background-color: black;
    color: white;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.2);
    z-index: 2;
    background-color: white;
    color: black;
}

.game-card:not(:hover) {
    transition: transform 1s, color 1s ease-in-out, background-color 1s ease-in-out;
}

.game-card progress {
    width: 80%;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    z-index: 1;
}

button:hover {
    transform: scale(1.2);
    z-index: 2;
}

.highlighted {
    background-color: lightblue;
}
